<p>
  <b>First name  c:</b>
  <%=h @custom_object_c.first_name__c %>
</p>

<p>
  <b>Last name  c:</b>
  <%=h @custom_object_c.last_name__c %>
</p>

<p>
  <b>Phone  c:</b>
  <%=h @custom_object_c.phone__c %>
</p>


<%= link_to 'Edit', edit_custom_object_c_path(@custom_object_c) %> |
<%= link_to 'Back', custom_object_cs_path %>